/* classes */
.row {
  margin-left: 20px;
  margin-right: 20px;
}
.row__photos {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}

.row__photo {
  width: 100%;
  max-height: 250px;
  object-fit: contain;
  transition: transform 450ms;
  margin-right: 25px;
  opacity: 0.8;
}

.row__photo:hover {
  transform: scale(1.08);
  opacity: 1;
}

.row__photoLarge {
  max-width: 350px;
}

/* Hidden scroll bar */
.row__photos::-webkit-scrollbar {
  display: none;
}

img {
  border-radius: 20px;
}
